main {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#directory {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
}

#directory.list {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#buttons button img {
    max-width: 25px;
    width: 100%;
    height: auto;
    pointer-events: none;
}

#buttons button {
    background-color: var(--bg-color-3);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    border: black 1px solid;
    padding: 1rem;
}

.card.list {
    flex-direction: row;
    justify-content: space-around;
}

.card.list img {
    display: none;
}

.card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.card p a {
    color: var(--bg-color-2);
}

.card img {
    max-width: 100px;
    width: 100%;
    height: auto;
}
