:root {
    --bg-color-2: #242038;
    --bg-color-1: #A5243D;
    --hover-color: #D1345B;
    --font-color-2: #CAC4CE;
    --font-color-1: #F7ECE1;
}

body {
    font-family: 'Monserrat', sans-serif, monospace;
    color: var(--font-color-1);
    margin: 0;
    height: 100vh;
}